@code {
    [Parameter]
    public string Width { get; set; } = "352"; // Default width
    [Parameter]
    public string Height { get; set; } = "64"; // Default height
    [Parameter]
    public string CssClass { get; set; } = ""; // Optional CSS class for customization
    [Parameter]
    public string Style { get; set; } = ""; // Inline styles for the component
    [Parameter]
    public string Color { get; set; } = "white"; // Inline styles for the component
}

<div class="logo-container @CssClass" style="@Style">
    <svg width="@Width" height="@Height" viewBox="0 0 352 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M156.518 48.7699H136.51C131.527 48.7699 127.743 48.2902 125.159 47.3374C121.077 45.819 119.032 43.0103 119.032 38.9081V12.6906H126.985V38.9081C126.985 40.334 128.351 41.2603 131.084 41.6903C132.245 41.859 134.171 41.9418 136.867 41.9418H156.518V48.7699Z" fill="@Color" />
        <path d="M196.787 48.7699H176.779C171.796 48.7699 168.012 48.2902 165.428 47.3374C161.346 45.819 159.301 43.0103 159.301 38.9081V12.6906H167.254V38.9081C167.254 40.334 168.62 41.2603 171.353 41.6903C172.514 41.859 174.44 41.9418 177.136 41.9418H196.787V48.7699Z" fill="@Color" />
        <path d="M207.521 48.965H199.568V12.6606H207.521V48.965Z" fill="@Color" />
        <path d="M308.594 44.2435C308.594 47.4094 307.291 48.9941 304.687 48.9941C303.132 48.9941 301.634 48.3754 300.191 47.1382L272.485 23.5837V48.9941L264.532 48.9643V17.1558C264.532 14.1024 265.796 12.574 268.327 12.574C270.03 12.574 271.678 13.2588 273.273 14.6251L300.641 37.8917V12.574H308.594V44.2435Z" fill="@Color" />
        <path d="M351.163 19.6009H335.035V48.9646H327.139V19.6009H311.067V12.8555H351.166V19.6009H351.163Z" fill="@Color" />
        <path d="M116.254 34.382V27.5539H83.9127V22.393C83.9127 20.5338 86.5361 19.6009 91.7796 19.6009H116.095V12.8555H91.386C90.0891 12.8555 88.8618 12.9349 87.6907 13.0771L76.0425 25.1322V39.3807C76.0425 42.679 77.776 45.1701 81.2397 46.854C83.9359 48.1276 87.1415 48.7661 90.85 48.7661H116.25V41.938H91.0849C86.3012 41.938 83.9061 41.0117 83.9061 39.1558V34.3787H116.247L116.254 34.382Z" fill="@Color" />
        <path d="M240.901 15.3595C239.796 13.7484 238.324 12.9412 236.488 12.9412C234.652 12.9412 233.19 13.7583 232.049 15.3859L208.362 49.0768H217.704L220.04 45.6825L220.046 45.6726L224.125 39.7476H248.616L253.767 47.0389L255.206 49.0768H264.108L240.898 15.3562L240.901 15.3595ZM228.823 32.893H228.81L233.742 25.7472L236.21 22.1744L241.662 29.9156V29.9222L243.763 32.8963H228.826L228.823 32.893Z" fill="@Color" />
        <path d="M16.0659 63.0205H24.1677L54.1467 31.3609L42.0354 13.6289H34.4927L45.9788 30.2461L16.0659 63.0205Z" fill="#26A7DF" />
        <path d="M47.8533 38.0083L46.6987 36.4005L32.5396 15.83C31.4346 14.2189 29.9625 13.4117 28.1264 13.4117C26.2904 13.4117 24.8281 14.2289 23.6868 15.8565L0 49.5506H9.34239L17.6129 38.3722H38.405L42.5237 43.6356L47.85 38.0083H47.8533ZM22.2973 31.5176L27.8485 22.645L33.5486 31.5176H22.2973Z" fill="@Color" />
        <path d="M96.5367 0H88.3852L62.3992 26.7535L53.5696 13.299L45.1039 13.0873L57.2914 31.6563L35.2256 53.9999H44.2305L60.7782 37.1049L68.4731 48.6936H76.7999L65.9622 32.1823L96.5367 0Z" fill="#D63240" />
    </svg>
</div>
