@page "/faqmasterdata/categories"
@using Syncfusion.Blazor.Grids

<div style="padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <GenericGrid T="VW_FaqCategory"
    Title="FAQ Categories"
    DataSource="@Faqs"
    OnAdd="AddRow"
    OnEdit="EditRow"
    OnDelete="DeleteRow">
        <ColumnsTemplate Context="items">
            <GridColumn Field="@nameof(VW_FaqCategory.Id)" HeaderText="ID" IsPrimaryKey="true" AutoFit="true"></GridColumn>
            <GridColumn Field="@nameof(VW_FaqCategory.Name)" HeaderText="Question" AutoFit="true"></GridColumn>
            <GridColumn Field="@nameof(VW_FaqCategory.Status)" Type="ColumnType.Boolean" HeaderText="Status">
                <Template>
                    @{
                        var isChecked = (context as VW_FaqCategory).Status == 1; // Assuming 1 = checked, 0 = unchecked
                    }
                    <SfCheckBox Checked="@isChecked" Disabled="true"></SfCheckBox>
                </Template>
            </GridColumn>
        </ColumnsTemplate>
    </GenericGrid>
</div>


@code {
    private List<VW_FaqCategory> Faqs;
    private FaqCategory_Listing List_Faq = new();

    private async void EditRow(VW_FaqCategory faq)
    {
        ToastService.ShowToast("Success", "Edited Successfully", "e-toast-success");
        
    }

    private async void DeleteRow(VW_FaqCategory faq)
    {
        ToastService.ShowToast("Success", "Deleted Successfully", "e-toast-danger");

        
    }
    private async void AddRow()
    {
        ToastService.ShowToast("Success", "Added Successfully", "e-toast-success");

    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // if (appstate.IsLoggedIn)
        // {
        //     var apiClient = RestService.For<IRestfulApi>(httpClienthelper.HttpClient);
        //     var response = await apiClient.GetAllFaqCategory(List_Faq);

        //     if (response.Data == null)
        //     {
        //         ToastService.ShowToast("Failure", "API response is null", "e-toast-danger");

        //         return;
        //     }

        //     if (!response.Data.Success)
        //     {
        //         ToastService.ShowToast("Failure", "Success is false", "e-toast-danger");

        //         return;
        //     }

        //     Faqs = response.Data.Data.DataList;
        // }
    }

 
}
